leetcode/array/test.dSYM/
leetcode/binary_search/test.dSYM/
leetcode/bst/test.dSYM/
leetcode/design/test.dSYM/
leetcode/dfs/test.dSYM/
leetcode/dp/test.dSYM/
leetcode/linked-list/test.dSYM/
leetcode/queue/test.dSYM/
leetcode/sort/test.dSYM/
leetcode/stack/test.dSYM/
leetcode/string/test.dSYM/
leetcode/tree/test.dSYM/
leetcode/two-pointer/test.dSYM/

leetcode/array/c.sh
leetcode/array/test
leetcode/binary_search/test
leetcode/bst/c.sh
leetcode/bst/test
leetcode/design/c.sh
leetcode/design/test
leetcode/dfs/test
leetcode/dp/c.sh
leetcode/dp/test
leetcode/linked-list/test
leetcode/queue/c.sh
leetcode/queue/test
leetcode/sort/c.sh
leetcode/sort/test
leetcode/stack/c.sh
leetcode/stack/test
leetcode/string/c.sh
leetcode/string/test
leetcode/tree/c.sh
leetcode/tree/test
leetcode/two-pointer/c.sh
leetcode/two-pointer/test
